<div class="panel panel-default">
    <h1>
        <!-- #BeginEditable "title" -->Contact The English Bed,
        Breakfast &amp; Day Spa<!-- #EndEditable -->
    </h1>
    <div class="panel-heading"> </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">


                <h2>Hosts</h2>
                <p>Hosted by David English and Teri Collins-English</p>
                <p>
                    Members in good standing with: The Alberta Bed and
                    Breakfast Association; and The Calgary Bed and Breakfast Association.
                </p>

                <h2>Contact Information</h2>
                <p>
                    David English and Teri Collins-English<br>
                    An English Bed, Breakfast &amp; Day Spa<br>
                    5544 Dalhousie Drive NW <br>
                    Calgary, Alberta T3A 1P9 <br>
                    CANADA
                </p>
                <p>
                    Telephone: (403) 286-0777 <br>
                    Fax: (403) 202-8627 <br>
                    Toll Free from US & Canada: (866) 286-0777
                </p>
                <p>
                    Email: rsvp@englishbb.com

                </p>
                <!-- #EndEditable --> </td>
                <td width="40"><img src="images/sp.gif" width="40" height="8"></td>
                <td width="50%" align="left" valign="top">
                    <!-- #BeginEditable "body2" -->
                    <h2 align="center">&nbsp;</h2>
                    <p>
                        To Book and to find us just follow 3 easy steps.
                        First you can check for <a href="http://www.powell-graphics4.com/calendar/221/calendar.cgi">Availability</a>,
                        then you can check our location using <a href="https://goo.gl/maps/yfByJ9j2TSL2">
                            Google
                            Maps
                        </a> and even get written <a href="Directions">Directions</a>
                        to our Bed, Breakfast &amp; Day Spa.
                    </p>
                    <p>
                        Book your Rental Car using our corporate account
                        with the link below and save 15%.
                    </p>
                    <p> <a href="http://www.enterprise.com/car_rental/deeplinkmap.do?bid=002&amp;cust=5CA4014" target="_blank"><img src="images/enterprise.gif" width="108" height="36" border="0" align="middle"></a></p>
                    <!-- #EndEditable -->

            </div>
            <div class="col-sm-6">


                <table width="250" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td><!-- #BeginEditable "photo_med" --><a href="images/photos/front01l.jpg" target="_blank"><img src="images/photos/front01m.jpg" width="250" height="175" border="0" alt="The Bed and Breakfast"></a><!-- #EndEditable --></td>
                    </tr>
 
                </table>
                <!-- #BeginEditable "photos_small" -->
                <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr align="center" valign="top">
                        <td width="33%"><a href="images/photos/back02l.jpg" target="_blank"><img src="images/photos/back01s.jpg" width="66" height="50" border="0" alt="Backyard"></a></td>
                        <td width="34%"><a href="images/photos/liv01l.jpg" target="_blank"><img src="images/photos/liv01s.jpg" width="66" height="50" border="0" alt="Living Room"></a></td>
                        <td width="33%"><a href="images/photos/kitc01l.jpg" target="_blank"><img src="images/photos/kitc01s.jpg" width="66" height="50" border="0" alt="Kitchen"></a></td>
                    </tr>
                </table>
                <!-- #EndEditable -->

            </div>
        </div>

    </div>
</div>

