<div class="panel panel-default">
    <h1><!-- #BeginEditable "title" -->English Day Spa Services<!-- #EndEditable --></h1>
    <div class="panel-heading"> </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-8">


                <div class="twoColumns">
                    <h2>Massage is good for you.</h2>
                    <p>
                        Yes, massage feels great! Many describe it as a transforming
                        experience. Besides feeling good it benefits the body
                        physiologically in many ways:
                    </p>
                    <p>
                        <ul>
                            <li>
                                Relieves stiff sore muscles by ridding them of
                                waste materials, loosening and stretching tissues.
                            </li>
                            <li>Develops healthier, better-nourished skin.</li>
                            <li>
                                Faster healing time for injured muscles, tendons
                                and ligaments.
                            </li>
                        </ul>
                    <p>
                        Your massage therapist will listen carefully to what
                        you hope to get out of your massage. She will give
                        you the chance to tell her how much pressure you prefer,
                        areas you may want to focus on, or any injuries/tight
                        spots you may have. Also the comfort and modesty of
                        each person is of utmost importance. You will be covered
                        with a sheet throughout the whole session and only
                        the body part receiving treatment will be uncovered.
                    </p>
                    <p>
                        Your Spa experience is tailored to meet your specific
                        needs. If you suffer from neck and shoulder tension
                        a deep massage will help to relieve the discomfort.
                        Do you feel like stress manages you?
                    </p>
                    <p>
                        Create the Relaxing, Refreshing and Rejuvenating
                        Day to suit your needs.
                    </p>


                    <p></p>
                    
                    <!-- #BeginEditable "body2" -->
                    <h2>Day Spa Pricing</h2>
                    <p>
                        Bring your swimsuit and soak a half-hour before your
                        treatment
                    </p>
                    <p><b>60 minute massage treatment $65.00 </b></p>
                    <p><b>90 minute massage treatment $90.00</b> </p>
                    <p>&nbsp;</p>
                    <p></p>
                </div class="twoColumns">
                    <!-- #EndEditable -->

            </div>
            <div class="col-sm-4">


                <table width="240" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td><!-- #BeginEditable "photo_med" --><a href="images/photos/mass01l.jpg" target="_blank"><img src="images/photos/mass01m.jpg" width="240" height="175" alt="Massage Table" border="0"></a><!-- #EndEditable --></td>
                    </tr>

                </table>
                <!-- #BeginEditable "photos_small" -->
                <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr align="center" valign="top">
                        <td width="33%"><a href="images/photos/back01l.jpg" target="_blank"><img src="images/photos/back01s.jpg" width="66" height="50" border="0" alt="Backyard"></a></td>
                        <td width="34%"><a href="images/photos/liv02l.jpg" target="_blank"><img src="images/photos/liv02s.jpg" width="66" height="50" border="0" alt="Living Room Chair"></a></td>
                        <td width="33%"><a href="images/photos/back04l.jpg" target="_blank"><img src="images/photos/back04s.jpg" width="66" height="50" border="0" alt="Backyard"></a></td>
                    </tr>
                </table>
                <!-- #EndEditable -->

            </div>
        </div>

    </div>
</div>












