<div class="panel panel-default">
    <h1>
        <!-- #BeginEditable "title" -->Directions to the Bed,
        Breakfast &amp; Day Spa<!-- #EndEditable -->
    </h1>
    <div class="panel-heading"> </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">


                <h2>Address</h2>
                <p>
                    David English &amp; Teri Collins-English<br>
                    <b>An English Bed, Breakfast &amp; Day Spa</b><br>
                    5544 Dalhousie Drive NW <br>
                    Calgary, Alberta T3A 1P9 <br>
                    CANADA<br>
                    Telephone: 1-403-286-0777<br>
                    Toll Free: 1-866-286-0777
                </p>

                <table>
                    <tr>
                        <td><!-- #BeginEditable "photo_med" --><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2504.8992894152675!2d-114.16864474817388!3d51.110318279471414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x537168d2ad2160c9%3A0xf1275c54c17e4429!2s5544+Dalhousie+Dr+NW%2C+Calgary%2C+AB+T3A+1P9!5e0!3m2!1sen!2sca!4v1469194188530" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe><!-- #EndEditable --></td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-6">


                <table width="240" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td><!-- #BeginEditable "photo_med" --><a href="images/photos/daveteri01l.jpg" target="_blank"><img src="images/photos/daveteri01m.jpg" width="240" height="175" alt="Massage Table" border="0"></a><!-- #EndEditable --></td>
                    </tr>

                </table>
                <!-- #BeginEditable "photos_small" -->
                <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr align="center" valign="top">
                        <td width="33%"><a href="images/photos/fire01l.jpg" target="_blank"><img src="images/photos/fire01m.jpg" width="66" height="50" border="0" alt="David and Teri"></a></td>
                        <td width="34%"><a href="images/photos/back01l.jpg" target="_blank"><img src="images/photos/back01m.jpg" width="66" height="50" border="0" alt="Backyard Deck"></a></td>
                        <td width="33%"><a href="images/photos/front01l.jpg" target="_blank"><img src="images/photos/front01m.jpg" width="66" height="50" border="0" alt="B&amp;B Home"></a></td>
                    </tr>
                </table>
                <!-- #EndEditable -->

            </div>

        </div>
        <div class="twoColumns">
            <h2>A Note about Calgary </h2>
            <p>
                Calgary has numbered Streets and Avenues starting
                from the centre of the city. Streets run north-south
                and Avenues run East-west. It is important to know
                if you are looking for a STREET or and AVENUE. The
                city is divided into quadrants: NORTHWEST (NW), SOUTHWEST
                (SW), NORTHEAST (NE) and SOUTHEAST (SE). Once again
                the quadrant is essential to get somewhere. Hwy #1
                is 16th Avenue north and runs east and west. Many
                of the major arteries are called Trails or Boulevards
                (Blvd).
            </p>
            <h2>From the Calgary Airport (Driving)</h2>
            <p>
                Follow the signs to the City Centre (this will take you onto Airport Trail NE and Deerfoot Trial South). Turn west on
                McKnight Blvd and turn onto John Laurie Blvd when
                McKnight turns into John Laurie Blvd. From John Laurie
                Blvd turn left on 53rd Street NW and right onto Dalhousie
                Drive NW.
            </p>
            <h2>From Hwy #1 East (Brooks, Medicine Hat) </h2>
            <p>
                Take Stoney Trail (Hwy 201) north; it will turn west.  Exit right to Shagganappi Trait and go south (left) on Shagganappi
                Trail NWand right
                onto Dalhousie Drive NW.
            </p>
            <h2>From Hwy #2 North (Red Deer, Edmonton) </h2>
            <p>
                Take Stoney Trail west; exit right to Shagganappi Trait and go south (left) on Shagganappi
                Trail NW and right onto Dalhousie Drive NW.
            </p>
            <h2>From Hwy #2 South (Fort Mcleod, Lethbridge) </h2>
            <p>
                Exit Hwy #2 from the right lane onto Glenmore Trail
                west; exit right onto Crowchild Trail north. Proceed
                for approximately 14km (8.5 miles) and exit right
                onto 53rd Street NW and go North. Take the 1st left
                at the light onto Dalhousie Drive NW.
            </p>
            <h2>From Hwy #1 West (Canmore, Banff) </h2>
            <p>
                Exit right onto Stoney Trail NW; turn right onto
                Crowchild Trail and Exit from the right lane onto
                53rd Street W. Go left (north) over the bridge and
                take the 1st left at the light onto Dalhousie Drive
                NW.
            </p>
            <h2>From Hwy #1A (Cochrane)</h2>
            <p>
                Hwy #1A turns into Crowchild Trail at the city limits.
                Exit from the right lane onto 53rd Street W. Go left
                (north) over the bridge and take the 1st left at the
                light onto Dalhousie Drive NW.
            </p>
        </div class="twoColumns">



        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            Calgary Transit Route Planning/Next Ride
                        </a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="twoColumns">
                            <h2>Calgary Transit Route Planning/Next Ride</h2>
                            <p>You can plan your trip and get real-time bus  information using&nbsp;<a href="http://l.facebook.com/l.php?u=http%3A%2F%2Fwww.CalgaryTransit.com%2F&amp;h=1AQGv1PGo&amp;enc=AZPtHX6XHmM2fbaNEPUW0OGQBns-2SPCJgRo9NV1ovaNMln9yFG6PDy7NzftWColkhZ_LGLzQ-BpAzV8LnkjMRFqYQIPvBNo66Eruu-SC4LtPOmqCu0b54_JoI30Es5H5Rn4Sg-v86bxesNWkDyKWIudAgxW8A_S1NrKOatvDrjlzg&amp;s=1" target="_blank">www.CalgaryTransit.com</a>,  that means no more waiting for the bus  in -27 degree windchill. Instead, you can check for the next bus and  find out exactly how many minutes away it is based on its GPS location. This works for both buses and the Light Rail Transit (LRT).</p>
                        </div class="twoColumns">
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                            Via LRT (Light Rail Transit)
                        </a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="twoColumns">
                            <h2>Via LRT (Light Rail Transit) </h2>
                            <p>
                                The cost is $3.15 Canadian per person (be sure to
                                have correct change before you head to the train platform). It will  only cost 1 fare for both the LRT and bus.
                            </p>
                            <p>
                                Take the Northwest LRT train
                                (to Crowfoot) and get off at Dalhousie Station (the
                                next to the last stop).  If you are coming from the Northeast or the West be
                                sure to change trains downtown. From there you can
                                walk for 15 minutes (1 km or 0.6 miles) or transfer
                                to a bus.
                            </p>
                            <p>
                                When you come out of the LRT Station turn
                                left toward the bus stops and the parking lot. Detailed
                                instructions are as follows:
                            </p>
                            <p>
                                <b>Walking:</b> Walk through the shopping centre
                                (Stop at the shopping centre if you want) and turn
                                right on 53rd Street NW. Turn left (cross at the traffic
                                light) on Dalhousie Drive NW and walk to 5544 which
                                is on the right hand side of the street.
                            </p>
                            <p>
                                <b>Bus: </b>There are 4 buses that you can take from
                                Dalhousie Station to our B&B: 76,  97, 113, &amp; 422.</p>
                            <p><strong>76</strong> This bus will leave Dalhousie Station, travel north on 53rd Street NW and turn  left onto Dalhousie Drive NW. Get off the bus at the second stop after the bus  turns onto Dalhousie Drive and walk to 5544. You can also watch the house  numbers on the right hand side of the bus, get off at the stop after 5544 (when  the bus turns onto 66 Avenue NW) and walk back. </p>
                            <p><strong>97</strong> This bus will leave Dalhousie Station travel north and turn left onto Dalhousie  Drive NW. Get off the bus at the second stop <strong>after the bus crosses 53 Street NW</strong> and walk to 5544. You can also  watch the house numbers on the right hand side of the bus, get off at the stop  after 5544 (when the bus turns onto 66 Avenue NW) and walk back. </p>
                            <p><strong>113</strong> This bus will leave Dalhousie Station, travel north and turn left onto  Dalhousie Drive NW. Get off the bus at the second stop <strong>after the bus crosses 53 Street NW</strong> and walk to 5544. You can also  watch the house numbers on the right hand side of the bus, get off at the stop  after 5544 (when the bus turns onto 66 Avenue NW) and walk back. </p>
                            <p><strong>The least preferred  option is 422 Dalhousie (do not take 422 Montgomery)</strong> This bus will leave  Dalhousie Station, and turn right onto Dalhousie Drive NW it will travel  through east Dalhousie and re-enter Dalhousie Drive NW at the opposite end of  the Dalhousie Drive loop. You can get off at 66 Avenue NW and walk to 5544 on the  other side of the street. Or you can watch the house numbers on the left hand  side of the bus, get off at the stop after 5544 and walk back.</p>
                            <p>&nbsp;</p>
                        </div class="twoColumns">


                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                            From the Calgary International Airport via Bus &
                            LRT (Light Rail Transit)
                        </a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="twoColumns">
                            <h2>
                                From the Calgary International Airport via Bus &
                                LRT (Light Rail Transit)
                            </h2>
                            <p>Schedules and fare info can be found at the Calgary Transit website:</p>
                            <p><a href="http://www.calgarytransit.com/">http://www.calgarytransit.com/</a></p>
                            <p>Route 300:</p>
                            <p>Check out this page from the Calgary Airport website: <a href="http://www.calgarytransit.com/html/airport_service.html">http://www.yyc.com/Portals/0/TRAVELLER%20INFO/Route300_Airport.pdf </a></p>
                            <p>
                                Transit from the airport involves a combination of
                                bus and train and will take about 1 hour not counting
                                wait times. Allow 1.5 to 2 hours for this method of
                                transportation to the English Bed, Breakfast & Day
                                Spa. The cost is $9.50 Canadian per person from the airport. You get a day pass for Calgary Transit and can purchare an additional day pass for a small fee. The Calgary Transit Bus Stop is outside the Arrivals level at the airport.
                            </p>
                            <p>Take the bus to Downtown Calgary. Get off at 5th Street and 7th Avenue SW, cross 7th Ave and take the train (to Crowfoot and get off at Dalhousie Station). </p>
                            <p>Route 100:</p>
                            <p>
                                Take the bus to the McKnight-Westwinds LRT Station. The cost is $3.15 which will take you all the way to our B&amp;B (2 buses and one train). Take the LRT to a
                                downtown stop and change to a Northwest LRT train
                                to Crowfoot and get off at Dalhousie Station (the
                                next to the last stop). Be sure to change trains.
                                From there you can walk for 15 minutes (1 km or 0.6
                                miles) or transfer to a bus.
                            </p>
                            <p>
                                When you come out of
                                the LRT Station turn left towards the bus stops and
                                the parking lot. Detailed instructions are as follows:
                            </p>
                            <p>
                                <b>Walking:</b> Walk through the shopping centre
                                (Stop at the shopping centre if you want) and turn
                                right on 53rd Street NW. Turn left (cross at the traffic
                                light) on Dalhousie Drive NW and walk to 5544 which
                                is on the right hand side of the street.
                            </p>
                            <p><b>Bus: </b>There are 4 buses that you can take from
                            Dalhousie Station to our B&amp;B: 76,  97, 113, &amp; 422.</p>
                            <p><strong>76</strong> This bus will leave Dalhousie Station, travel north on 53rd Street NW and turn  left onto Dalhousie Drive NW. Get off the bus at the second stop after the bus  turns onto Dalhousie Drive and walk to 5544. You can also watch the house  numbers on the right hand side of the bus, get off at the stop after 5544 (when  the bus turns onto 66 Avenue NW) and walk back. </p>
                            <p><strong>97</strong> This bus will leave Dalhousie Station travel north and turn left onto Dalhousie  Drive NW. Get off the bus at the second stop <strong>after the bus crosses 53 Street NW</strong> and walk to 5544. You can also  watch the house numbers on the right hand side of the bus, get off at the stop  after 5544 (when the bus turns onto 66 Avenue NW) and walk back. </p>
                            <p><strong>113</strong> This bus will leave Dalhousie Station, travel north and turn left onto  Dalhousie Drive NW. Get off the bus at the second stop <strong>after the bus crosses 53 Street NW</strong> and walk to 5544. You can also  watch the house numbers on the right hand side of the bus, get off at the stop  after 5544 (when the bus turns onto 66 Avenue NW) and walk back. </p>
                            <p><strong>The least preferred  option is 422 Dalhousie (do not take 422 Montgomery)</strong> This bus will leave  Dalhousie Station, and turn right onto Dalhousie Drive NW it will travel  through east Dalhousie and re-enter Dalhousie Drive NW at the opposite end of  the Dalhousie Drive loop. You can get off at 66 Avenue NW and walk to 5544 on the  other side of the street. Or you can watch the house numbers on the left hand  side of the bus, get off at the stop after 5544 and walk back.
                            </p>
                            <p>&nbsp;</p>
                        </div class="twoColumns">
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                            From the Greyhound Bus Terminal via Bus & LRT (Light
                            Rail Transit)
                        </a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="twoColumns">
                            <h2>
                                From the Greyhound Bus Terminal via Bus & LRT (Light
                                Rail Transit)
                            </h2>
                            <p>The cost is $3.15 Canadian per person. It will  only cost 1 fare for both the LRT and bus.</p>
                            <p>
                                Take the  LRT train
                                to Downtown, exit the train cross to a train station on the other side of the street and take a Northwest train (to Crowfoot). Get off at Dalhousie Station (the
                                next to the last stop). From there you can walk for
                                15 minutes (1 km or 0.6 miles) or transfer to a bus.
                                Detailed instructions are below.
                            </p>
                            <p>
                                When you come out of
                                the LRT Station turn left towards the bus stops and
                                the parking lot. Detailed instructions are as follows:
                            </p>
                            <p>
                                <b>Walking:</b> Walk through the shopping centre
                                (Stop at the shopping centre if you want) and turn
                                right on 53rd Street NW. Turn left (cross at the traffic
                                light) on Dalhousie Drive NW and walk to 5544 which
                                is on the right hand side of the street.
                            </p>
                            <p><b>Bus: </b>There are 4 buses that you can take from
                            Dalhousie Station to our B&amp;B: 76,  97, 113, &amp; 422.</p>
                            <p><strong>76</strong> This bus will leave Dalhousie Station, travel north on 53rd Street NW and turn  left onto Dalhousie Drive NW. Get off the bus at the second stop after the bus  turns onto Dalhousie Drive and walk to 5544. You can also watch the house  numbers on the right hand side of the bus, get off at the stop after 5544 (when  the bus turns onto 66 Avenue NW) and walk back. </p>
                            <p><strong>97</strong> This bus will leave Dalhousie Station travel north and turn left onto Dalhousie  Drive NW. Get off the bus at the second stop <strong>after the bus crosses 53 Street NW</strong> and walk to 5544. You can also  watch the house numbers on the right hand side of the bus, get off at the stop  after 5544 (when the bus turns onto 66 Avenue NW) and walk back. </p>
                            <p><strong>113</strong> This bus will leave Dalhousie Station, travel north and turn left onto  Dalhousie Drive NW. Get off the bus at the second stop <strong>after the bus crosses 53 Street NW</strong> and walk to 5544. You can also  watch the house numbers on the right hand side of the bus, get off at the stop  after 5544 (when the bus turns onto 66 Avenue NW) and walk back. </p>
                            <p><strong>The least preferred  option is 422 Dalhousie (do not take 422 Montgomery)</strong> This bus will leave  Dalhousie Station, and turn right onto Dalhousie Drive NW it will travel  through east Dalhousie and re-enter Dalhousie Drive NW at the opposite end of  the Dalhousie Drive loop. You can get off at 66 Avenue NW and walk to 5544 on the  other side of the street. Or you can watch the house numbers on the left hand  side of the bus, get off at the stop after 5544 and walk back.
                            </p>
                            <p>&nbsp;</p>
                        </div class="twoColumns">
                        <!-- #EndEditable -->
                    </div>
                </div>
            </div>
        </div>



    </div>

</div>