<div class="panel panel-default">
    <h1>
        An English Bed, Breakfast & Day Spa
    </h1>
    <div class="panel-heading"> </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-8">


                <div class="twoColumns">
                    <p>
                        We would like to invite you to spend your holiday
                        in <b>Calgary</b> enjoying An English Bed, Breakfast
                        and Day Spa Experience. We have customized our home
                        to provide you with optimal comfort (Air Conditioned)
                        and privacy.
                    </p>
                    <p>
                        The entire main floor is dedicated to the <a href="rooms.html">B&amp;B</a> and <a href="dayspaservices.html">Day Spa</a>. There
                        are two parlors to enjoy a good book and music. The
                        Fireplace room has leather sofas to enjoy complimentary
                        sherry. The formal parlor has big overstuffed chairs
                        and sofa to curl up with the sun shining through the
                        picture window. All guests have access to the hot
                        tub. As part of your stay a bathrobe, slippers and
                        a fresh towel is provided to each guest.
                    </p>
                    <p>
                        Guests have complete access to use our kitchen area
                        (year-round) and backyard Barbecue (seasonal).
                    </p>

                    <p>
                        Guests receive <b>free high-speed Internet access</b> by connecting PCs to our wireless internet network
                        and/or using our guest laptop computer.
                    </p>
                    <p>
                        Each morning is accompanied by the fresh aroma of
                        a <a href="samplemenus.html">gourmet breakfast</a>.
                        Teri creates a memorable culinary experience. Please
                        let us know of any dietary restrictions when you book.
                    </p>
                    <p>
                        Located in <a href="dir.html">Northwest Calgary</a> with easy access to the airport, we are on the way
                        to Banff and Lake Louise. The home is fifteen minutes
                        from downtown, two blocks from great restaurants,
                        shopping and the LRT (Light Rail Transit). Canada
                        Olympic Park, McMahon Stadium and The University of
                        Calgary are also nearby facilities. <a href="links.html">Calgary</a> has a network of biking/jogging pathways throughout
                        the city that are accessible from our location.
                    </p>
                    <p>Book your Rental Car using our corporate account <a href="http://www.enterprise.com/car_rental/deeplinkmap.do?bid=002&amp;cust=5CA4014" target="_blank"><img src="images/enterprise.gif" alt="" width="108" height="36" border="0" align="right"></a> with the link to the right and save 5%.</p>
                    <!-- #EndEditable -->
                    <p></p>
                    <!-- #BeginEditable "body2" -->
                </div>

            </div>
            <div class="col-sm-4">



                <table width="240" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <!-- #BeginEditable "photo_med" --><a href="images/new/P1140680.jpg" target="_blank" rel="prettyPhoto[gallery1]"><img src="images/new/P1140680_th.jpg" width="240" height="175" border="0" alt="David and Teri"></a>
                            <!-- #EndEditable -->
                        </td>
                    </tr>

                </table>
                <!-- #BeginEditable "photos_small" -->
                <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr align="center" valign="top">
                        <td width="33%"><a href="images/photos/egyp01l.jpg" target="_blank" rel="prettyPhoto[gallery1]"><img src="images/photos_egypt3.jpg" width="66" height="50" border="0" alt="Egyptian Room"></a></td>
                        <td width="34%"><a href="images/photos/vic01l.jpg" target="_blank" rel="prettyPhoto[gallery1]"><img src="images/photos_vic.jpg" width="66" height="50" border="0" alt="Victorian Room"></a></td>
                        <td width="33%"><a href="images/photos/mass01l.jpg" target="_blank" rel="prettyPhoto[gallery1]"><img src="images/photos_table.jpg" width="66" height="50" border="0" alt="Massage Table"></a></td>
                    </tr>
                </table>
                <a href="http://bbcalgary.com/" target="_new"><img src="images/logo-proud-member-sm.jpg" alt="BBAC" width="200" style="margin-top:20px;"></a>
                <p>
                    <a href="http://t.extreme-dm.com/?login=englishd" target="_top"><img src="http://t1.extreme-dm.com/i.gif" name="EXim" border="0" height="38" width="41" alt="eXTReMe Tracker"></a>
                    <script type="text/javascript" language="javascript1.2">
                        <!--
                        EXs=screen;EXw=EXs.width;navigator.appName!="Netscape"?
                        EXb=EXs.colorDepth:EXb=EXs.pixelDepth;//-->
                    </script>
                    <script type="text/javascript">
                        <!--
                        var EXlogin='englishd' // Login
                        var EXvsrv='s9' // VServer
                        navigator.javaEnabled()==1?EXjv="y":EXjv="n";
                        EXd=document;EXw?"":EXw="na";EXb?"":EXb="na";
                        EXd.write("<img src=http://e0.extreme-dm.com",
                        "/"+EXvsrv+".g?login="+EXlogin+"&amp;",
                        "jv="+EXjv+"&amp;j=y&amp;srw="+EXw+"&amp;srb="+EXb+"&amp;",
                        "l="+escape(EXd.referrer)+" height=1 width=1>");//-->
                    </script><img src="http://e0.extreme-dm.com/s9.g?login=englishd&amp;jv=n&amp;j=y&amp;srw=1920&amp;srb=24&amp;l=http%3A//www.englishbb.com/contact.html" height="1" width="1">
                    <noscript>
                        &lt;img height="1" width="1" alt=""
                        src="http://e0.extreme-dm.com/s9.g?login=englishd&amp;amp;j=n&amp;amp;jv=n"/&gt;
                    </noscript>
                    <!-- #EndEditable -->
                </p>
            </div>
        </div>

    </div>
</div>




