   <div class="panel panel-default">
<h1><!-- #BeginEditable "title" -->Related Links &amp; Attractions<!-- #EndEditable --></h1>
    <div class="panel-heading"> </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">

 <p>Located in Northwest Calgary with easy access to 
                            the airport, An English Bed, Breakfast &amp; Day Spa 
                            is on the way to Banff and Lake Louise. The home is 
                            fifteen minutes from downtown, two blocks from great 
                            restaurants, shopping and the LRT (Light Rail Transit). 
                            Canada Olympic Park, McMahon Stadium and The University 
                            of Calgary are also nearby facilities. Calgary has 
                            a network of biking and jogging pathways throughout 
                            the city that are accessible from our location.</p>


            </div>
            <div class="col-sm-6">


      <table width="200" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td><!-- #BeginEditable "photo_med" --><a href="images/photos/fire01l.jpg" target="_blank"><img src="images/photos/fire01m.jpg" width="200" height="150" border="0" alt="Fireplace Room"></a><!-- #EndEditable --></td>
        </tr>
        <tr> 
          <td><img src="images/sp.gif" width="200" height="1"></td>
        </tr>
      </table>
      <!-- #BeginEditable "photos_small" -->
      <table width="200" border="0" cellspacing="0" cellpadding="0">
        <tr align="center" valign="top"> 
          <td width="33%"><a href="images/photos/daveteri01l.jpg" target="_blank"><img src="images/photos/daveteri01s.jpg" width="66" height="50" border="0" alt="David and Teri"></a></td>
          <td width="34%"><a href="images/photos/back02l.jpg" target="_blank"><img src="images/photos/back02s.jpg" width="66" height="50" border="0" alt="Backyard"></a></td>
          <td width="33%"><a href="images/photos/egyp01l.jpg" target="_blank"><img src="images/photos/egyp01s.jpg" width="66" height="50" border="0" alt="Egyptian Room"></a></td>
        </tr>
      </table>
      <!-- #EndEditable -->

            </div>
        </div>

    </div>
</div>
<div data-role="main" class="ui-content">
    <div data-role="collapsible">
      <h1>Tourism </h1>
                        <div>   
								 <p><a href="http://www.calgary.ca/" class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">The 
                            City of Calgary</a>
                            <a href="http://www.downtowncalgary.com/" class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Downtown 
                            Calgary </a>
                            <a href="http://www.canada.com/" class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">The 
                            Calgary Herald </a>
                            <a href="http://www.calgaryeconomicdevelopment.com/" class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Calgary 
                            Economic Development</a>
                            <a href="http://www.ama.ab.ca/cgi-ebs/road_report/road_report.jsp?dept=road%20report&amp;sec=00&amp;path=1" class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Calgary 
                            and Area Road Reports </a>
                            <a href="http://www.visitcalgary.com/" class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Tourism 
                            Calgary </a></p>
						</div>
	</div> 
    <div data-role="collapsible">
      <h1>Places to Go </h1>
<p><a href="http://www.calawaypark.com/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Calaway Park</a>
<a href="http://www.calgaryscience.ca/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Calgary Science Centre</a>
<a href="http://calgarystampede.com/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Calgary Stampede</a>
<a href="http://www.calgarytower.com/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Calgary Tower</a>
<a href="http://www.glenbow.org/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Glenbow Museum</a>
<a href="https://www.calgaryzoo.com/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Calgary Zoo</a> 
<a href="http://www.winsport.ca/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Canada Olympic Park</a>
<a href="http://www.eauclairemarket.com/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Eau Claire Market</a> 
<a href="http://www.fortcalgary.ab.ca/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Fort Calgary</a> 
<a href="http://www.heritagepark.ca/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Heritage Park </a>
<a href="http://www.jubileeauditorium.com/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Jubilee Auditorium</a>
<a href="http://www.scotiabanksaddledome.com/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Saddledome</a>
<a href="http://www.sprucemeadows.com/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Spruce Meadows</a>
</p>
	</div>

    <div data-role="collapsible">
      <h1>Post Secondary Schools </h1>
<p><a href="http://www.ucalgary.ca/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">University 
                            of Calgary</a>
                            <a href="http://www.sait.ab.ca/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank"> Southern 
                            Alberta Institute of Technology</a>
                            <a href="http://www.mtroyal.ab.ca/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Mount 
                            Royal College </a>
                            <a href="http://www.acad.ab.ca/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Alberta 
                            College of Art and Design</a>
                            <a href="http://www.athabascau.ca/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Athabasca 
                            University</a>
                            <a href="http://www.bowvalleycollege.ca/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Bow 
                            Valley College</a>
                            <a href="http://www.cal.devry.ca/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">DeVry 
                            Institute of Technology</a></p>
	</div>
	    <div data-role="collapsible">
      <h1>Southwestern Alberta Destinations </h1>
<p><a href="http://www.banff.com/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Banff</a>
                            <a href="http://www.pc.gc.ca/pn-np/ab/banff/index_e.asp"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Banff National Park</a>
							<a href="http://www.explorerockies.com/banff-gondola/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Banff Gondola</a>
                            <a href="http://www.canmore.ca/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Canmore</a> 
							<a href="https://www.albertaparks.ca/kananaskis-country/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Kananaskis Country</a>
                            <a href="https://www.travelalberta.com/ca/places-to-go/canadian-rockies/lake-louise/attractions/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Lake Louise</a>
                            <a href="http://www.pc.gc.ca/pn-np/ab/waterton/activ/activ3_e.asp"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Waterton Lakes National Park</a>
                            <a href="http://www.dinosaurvalley.com/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Drumheller</a>
                            <a href="http://www.tyrrellmuseum.com/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Royal Tyrrell Museum of Paleontology</a>
                            <a href="http://www.head-smashed-in.com/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Head-Smashed-In Buffalo Jump</a>
                            <a href="http://www.discoverywildlifepark.com/" class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Discovery Wildlife Park</a>
                          </p>
	</div>
    <div data-role="collapsible">
      <h1>Professional Sports Teams</h1>
 <p><a href="http://www.calgaryflames.com/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Calgary 
                            Flames</a> (hockey)<br>
                            <a href="http://www.stampeders.com/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Calgary 
                            Stampeders</a> (football)<br>
                            <a href="http://www.calgaryroughnecks.com/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Calgary 
                            Roughnecks</a> (lacrosse)<br>
                            <a href="http://www.calgarydawgs.com/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Calgary 
                            Dawgs</a> (baseball)</p>
	</div>
     <div data-role="collapsible">
      <h1>Calgary Museums</h1>
<p><a href="http://www.asmac.ab.ca/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Aero 
                            Space Museum</a>
                            <a href="http://www.calgaryhighlanders.com/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Calgary 
                            Highlanders Museum</a>
                            <a href="http://www.calgaryscience.ca/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Calgary 
                            Science Centre</a>
                            <a href="http://www.firefightersmuseum.org/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Firefighters 
                            Museum of Calgary</a>
                            <a href="http://www.glenbow.org/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Glenbow 
                            Museum</a>
                            <a href="http://www.heritagepark.ca/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Heritage 
                            Park</a>
                            <a href="http://www.museumoftheregiments.ca/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Museum 
                            of the Regiments</a>
                            <a href="http://www.themilitarymuseums.ca/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">The 
                            Naval Museum of Alberta</a>
                            <a href="http://www.acs.ucalgary.ca/~nickle/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">The 
                            Nickle Arts Museum</a>
                            <a href="http://www.strathconacountymuseum.ca/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Strathcona 
                            Museum</a>
                          </p>
	</div>
	   <div data-role="collapsible">
      <h1>Calgary Art Galleries</h1>
<p><a href="http://www.calgarydowntown.com/things/entertainment/art-galleries.html"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">The Art Gallery of Calgary</a>
	<a href="http://www.beartgallery.com/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Be Art Gallery</a>
	<a href="http://www.glenbow.org/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Glenbow Museum</a>
	<a href="http://www.herringerkissgallery.com/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Herringer Kiss Gallery </a>
	<a href="http://www.acad.ab.ca/ikg.html"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">The llingworth Kerr Gallery</a>
	<a href="http://www.influxgallery.com/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Influx Jewellery Gallery</a>
	<a href="http://www.acad.ab.ca/mng.html"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Marion Nicoll Gallery</a>
	<a href="http://www.ucalgary.ca/~nickle/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">The Nickle Arts Museum</a>
	<a href="http://www.newzones.com/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Newzones Gallery of Contemporary Art</a>
	<a href="http://www.paulkuhngallery.com/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Paul Kuhn Gallery</a>
	<a href="http://www.trianglegallery.com/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">The Triangle Gallery of Visual Art</a>
	<a href="http://www.uascalgary.org/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Untitled Art Gallery</a>
	<a href="http://www.webstergalleries.com/" class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini"  target="_blank">Webster 	Galleries</a>                          
	<a href="http://www.michelangelofineart.com/" class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini"  target="_blank">Michelangelo Fine Art  Gallery</a></p>
</div>
	   <div data-role="collapsible">
      <h1>Performing Arts</h1>
 <p><a href="http://www.albertaballet.com/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Alberta Ballet</a>
<a href="http://www.atplive.com/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Alberta Theatre Projects</a>
<a href="http://www.calgaryopera.com/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Calgary Opera</a>
<a href="http://www.cpo-live.com/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Calgary Philharmonic Orchestra</a>
<a href="https://www.artscommons.ca/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Epcor Centre for the Performing Arts</a>
<a href="http://www.jubileeauditorium.com/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Jubilee Auditorium</a>
<a href="http://www.lunchboxtheatre.com/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Lunchbox Theatre</a>
<a href="http://www.oyr.org/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">One Yellow Rabbit Performance Theatre</a>
<a href="http://www.theatrecalgary.com/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">Theatre Calgary</a>
<a href="http://www.wppuppet.com/"  class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right ui-mini" target="_blank">W.P. Puppet Theatre</a></p>
	</div>
</div>
 