   <div class="panel panel-default">
<h1><!-- #BeginEditable "title" -->Related Links &amp; Attractions<!-- #EndEditable --></h1>
    <div class="panel-heading"> </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">


                <div class="twoColumns">
                    <p>
                        Located in Northwest Calgary with easy access to
                        the airport, An English Bed, Breakfast &amp; Day Spa
                        is on the way to Banff and Lake Louise. The home is
                        fifteen minutes from downtown, two blocks from great
                        restaurants, shopping and the LRT (Light Rail Transit).
                        Canada Olympic Park, McMahon Stadium and The University
                        of Calgary are also nearby facilities. Calgary has
                        a network of biking and jogging pathways throughout
                        the city that are accessible from our location.
                    </p>
                    <h2>Tourism</h2>
                    <p>
                        <a href="http://www.calgary.ca/" target="_blank">
                            The
                            City of Calgary
                        </a> <br>
                        <a href="http://www.downtowncalgary.com/" target="_blank">
                            Downtown
                            Calgary
                        </a><br>
                        <a href="http://www.canada.com/" target="_blank">
                            The
                            Calgary Herald
                        </a><br>
                        <a href="http://www.calgaryeconomicdevelopment.com/" target="_blank">
                            Calgary
                            Economic Development
                        </a><br>
                        <a href="http://www.ama.ab.ca/cgi-ebs/road_report/road_report.jsp?dept=road%20report&amp;sec=00&amp;path=1" target="_blank">
                            Calgary
                            and Area Road Reports
                        </a><br>
                        <a href="http://www.visitcalgary.com/" target="_blank">
                            Tourism
                            Calgary
                        </a>
                    </p>
                    <h2>Places to Go</h2>
                    <p>
                        <a href="http://www.calawaypark.com/" target="_blank">
                            Calaway
                            Park
                        </a><a href="https://www.calgaryzoo.com/" target="_blank">
                            <br>
                        </a><a href="http://www.calgaryscience.ca/" target="_blank">
                            Calgary
                            Science Centre
                        </a> <br>
                        <a href="http://calgarystampede.com/" target="_blank">
                            Calgary
                            Stampede
                        </a><br>
                        <a href="http://www.calgarytower.com/" target="_blank">
                            Calgary
                            Tower
                        </a><a href="http://www.glenbow.org/" target="_blank">
                        </a><br>
                        <a href="https://www.calgaryzoo.com/" target="_blank">
                            Calgary Zoo
                        </a> <a href="http://www.glenbow.org/" target="_blank">
                            <br>
                        </a><a href="http://www.winsport.ca/" target="_blank">
                            Canada
                            Olympic Park
                        </a><a href="http://www.glenbow.org/" target="_blank">
                            <br>
                        </a><a href="http://www.eauclairemarket.com/" target="_blank">
                            Eau
                            Claire Market
                        </a> <a href="http://www.glenbow.org/" target="_blank">
                            <br>
                        </a><a href="http://www.fortcalgary.ab.ca/" target="_blank">
                            Fort
                            Calgary
                        </a> <a href="http://www.glenbow.org/" target="_blank">
                            <br>
                            Glenbow Museum
                        </a> <br>
                        <a href="http://www.heritagepark.ca/" target="_blank">
                            Heritage
                            Park
                        </a><br>
                        <a href="http://www.jubileeauditorium.com/" target="_blank">
                            Jubilee
                            Auditorium
                        </a> <br>
                        <a href="http://www.scotiabanksaddledome.com/" target="_blank">Saddledome</a>
                        <br>
                        <a href="http://www.sprucemeadows.com/" target="_blank">
                            Spruce
                            Meadows
                        </a> <br>
                    </p>
                    <h2>Post Secondary Schools</h2>
                    <p>
                        <a href="http://www.ucalgary.ca/" target="_blank">
                            University
                            of Calgary
                        </a><br>
                        <a href="http://www.sait.ab.ca/" target="_blank">
                            Southern
                            Alberta Institute of Technology
                        </a><br>
                        <a href="http://www.mtroyal.ab.ca/" target="_blank">
                            Mount
                            Royal College
                        </a><br>
                        <a href="http://www.acad.ab.ca/" target="_blank">
                            Alberta
                            College of Art and Design
                        </a><br>
                        <a href="http://www.athabascau.ca/" target="_blank">
                            Athabasca
                            University
                        </a><br>
                        <a href="http://www.bowvalleycollege.ca/" target="_blank">
                            Bow
                            Valley College
                        </a><br>
                        <a href="http://www.cal.devry.ca/" target="_blank">
                            DeVry
                            Institute of Technology
                        </a>
                    </p>
                    <h2>Southwestern Alberta Destinations</h2>
                    <p>
                        <a href="http://www.banff.com/" target="_blank">Banff</a><br>
                        <a href="http://www.pc.gc.ca/pn-np/ab/banff/index_e.asp" target="_blank">
                            Banff
                            National Park
                        </a><br>
                        <a href="http://www.explorerockies.com/banff-gondola/" target="_blank">
                            Banff
                            Gondola
                        </a><br>
                        <a href="http://www.canmore.ca/" target="_blank">
                            Canmore<br>
                        </a> <a href="https://www.albertaparks.ca/kananaskis-country/" target="_blank">
                            Kananaskis
                            Country
                        </a> <br>
                        <a href="https://www.travelalberta.com/ca/places-to-go/canadian-rockies/lake-louise/attractions/" target="_blank">
                            Lake
                            Louise
                        </a> <br>
                        <a href="http://www.pc.gc.ca/pn-np/ab/waterton/activ/activ3_e.asp" target="_blank">
                            Waterton
                            Lakes National Park
                        </a> <br>
                        <a href="http://www.dinosaurvalley.com/" target="_blank">Drumheller</a><br>
                        <a href="http://www.tyrrellmuseum.com/" target="_blank">
                            Royal
                            Tyrrell Museum of Paleontology
                        </a><br>
                        <a href="http://www.head-smashed-in.com/" target="_blank">
                            Head-Smashed-In
                            Buffalo Jump
                        </a><br>
                        <a href="http://www.discoverywildlifepark.com/" target=_blank>
                            Discovery
                            Wildlife Park
                        </a><br>
                    </p>
                    <!-- #EndEditable --> </td>
                    <td width="40"><img src="images/sp.gif" width="40" height="8"></td>
                    <td width="50%" align="left" valign="top">
                        <!-- #BeginEditable "body2" -->
                        <h2>Professional Sports Teams</h2>
                        <p>
                            <a href="http://www.calgaryflames.com/" target="_blank">
                                Calgary
                                Flames
                            </a> (hockey)<br>
                            <a href="http://www.stampeders.com/" target="_blank">
                                Calgary
                                Stampeders
                            </a> (football)<br>
                            <a href="http://www.calgaryroughnecks.com/" target="_blank">
                                Calgary
                                Roughnecks
                            </a> (lacrosse)<br>
                            <a href="http://www.calgarydawgs.com/" target="_blank">
                                Calgary
                                Dawgs
                            </a> (baseball)
                        </p>
                        <h2>Calgary Museums</h2>
                        <p>
                            <a href="http://www.asmac.ab.ca/" target="_blank">
                                Aero
                                Space Museum
                            </a><br>
                            <a href="http://www.calgaryhighlanders.com/" target="_blank">
                                Calgary
                                Highlanders Museum
                            </a><br>
                            <a href="http://www.calgaryscience.ca/" target="_blank">
                                Calgary
                                Science Centre
                            </a><br>
                            <a href="http://www.firefightersmuseum.org/" target="_blank">
                                Firefighters
                                Museum of Calgary
                            </a><br>
                            <a href="http://www.glenbow.org/" target="_blank">
                                Glenbow
                                Museum
                            </a><br>
                            <a href="http://www.heritagepark.ca/" target="_blank">
                                Heritage
                                Park
                            </a><br>
                            <a href="http://www.museumoftheregiments.ca/" target="_blank">
                                Museum
                                of the Regiments
                            </a><br>
                            <a href="http://www.themilitarymuseums.ca/" target="_blank">
                                The
                                Naval Museum of Alberta
                            </a><br>
                            <a href="http://www.acs.ucalgary.ca/~nickle/" target="_blank">
                                The
                                Nickle Arts Museum
                            </a><br>
                            <a href="http://www.strathconacountymuseum.ca/" target="_blank">
                                Strathcona
                                Museum
                            </a><br>
                        </p>
                        <h2>Calgary Art Galleries</h2>
                        <p>
                            <a href="http://www.calgarydowntown.com/things/entertainment/art-galleries.html" target="_blank">
                                The
                                Art Gallery of Calgary
                            </a><br>
                            <a href="http://www.beartgallery.com/" target="_blank">
                                Be
                                Art Gallery
                            </a><br>
                            <a href="http://www.glenbow.org/" target="_blank">
                                Glenbow
                                Museum
                            </a><br>
                            <a href="http://www.herringerkissgallery.com/" target="_blank">
                                Herringer
                                Kiss Gallery
                            </a><br>
                            <a href="http://www.acad.ab.ca/ikg.html" target="_blank">
                                The
                                Illingworth Kerr Gallery
                            </a> <br>
                            <a href="http://www.influxgallery.com/" target="_blank">
                                Influx
                                Jewellery Gallery
                            </a> <br>
                            <a href="http://www.acad.ab.ca/mng.html" target="_blank">
                                Marion
                                Nicoll Gallery
                            </a> <br>
                            <a href="http://www.ucalgary.ca/~nickle/" target="_blank">
                                The
                                Nickle Arts Museum
                            </a><br>
                            <a href="http://www.newzones.com/" target="_blank">
                                Newzones
                                Gallery of Contemporary Art
                            </a><br>
                            <a href="http://www.paulkuhngallery.com/" target="_blank">
                                Paul
                                Kuhn Gallery
                            </a><br>
                            <a href="http://www.trianglegallery.com/" target="_blank">
                                The
                                Triangle Gallery of Visual Art
                            </a><br>
                            <a href="http://www.uascalgary.org/" target="_blank">
                                Untitled
                                Art Gallery
                            </a><br>
                            <a href="http://www.webstergalleries.com/">
                                Webster
                                Galleries
                            </a><br>
                            <a href="http://www.michelangelofineart.com/">Michelangelo Fine Art  Gallery</a>
                        </p>
                        <h2>Performing Arts</h2>
                        <p>
                            <a href="http://www.albertaballet.com/" target="_blank">
                                Alberta
                                Ballet
                            </a><br>
                            <a href="http://www.atplive.com/" target="_blank">
                                Alberta
                                Theatre Projects
                            </a><br>
                            <a href="http://www.calgaryopera.com/" target="_blank">
                                Calgary
                                Opera
                            </a><br>
                            <a href="http://www.cpo-live.com/" target="_blank">
                                Calgary
                                Philharmonic Orchestra
                            </a> <br>
                            <a href="https://www.artscommons.ca/" target="_blank">
                                Epcor
                                Centre for the Performing Arts
                            </a><br>
                            <a href="http://www.jubileeauditorium.com/" target="_blank">
                                Jubilee
                                Auditorium
                            </a> <br>
                            <a href="http://www.lunchboxtheatre.com/" target="_blank">
                                Lunchbox
                                Theatre
                            </a> <br>
                            <a href="http://www.oyr.org/" target="_blank">
                                One
                                Yellow Rabbit Performance Theatre
                            </a> <br>
                            <a href="http://www.theatrecalgary.com/" target="_blank">
                                Theatre
                                Calgary
                            </a><br>
                            <a href="http://www.wppuppet.com/" target="_blank">
                                W.P.
                                Puppet Theatre
                            </a>
                        </p>
                </div class="twoColumns">
                          <!-- #EndEditable -->

            </div>
            <div class="col-sm-6">


      <table width="240" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td><!-- #BeginEditable "photo_med" --><a href="images/photos/fire01l.jpg" target="_blank"><img src="images/photos/fire01m.jpg" width="240" height="175" border="0" alt="Fireplace Room"></a><!-- #EndEditable --></td>
        </tr>

      </table>
      <!-- #BeginEditable "photos_small" -->
      <table width="200" border="0" cellspacing="0" cellpadding="0">
        <tr align="center" valign="top"> 
          <td width="33%"><a href="images/photos/daveteri01l.jpg" target="_blank"><img src="images/photos/daveteri01s.jpg" width="66" height="50" border="0" alt="David and Teri"></a></td>
          <td width="34%"><a href="images/photos/back02l.jpg" target="_blank"><img src="images/photos/back02s.jpg" width="66" height="50" border="0" alt="Backyard"></a></td>
          <td width="33%"><a href="images/photos/egyp01l.jpg" target="_blank"><img src="images/photos/egyp01s.jpg" width="66" height="50" border="0" alt="Egyptian Room"></a></td>
        </tr>
      </table>
      <!-- #EndEditable -->

            </div>
        </div>

    </div>
</div>
                    
 