<h1>An English Bed, Breakfast & Day Spa  - Photo Gallery</h1>
<div id="owl-example" >
  <div><a href="images/photos/front01l.jpg" target="_blank"><img src="images/photos/front01m.jpg" width="200" height="150" border="0" alt="House"></a>
  <p class="side">The Bed &amp; Breakfast</p>
  </div>
  <div><a href="images/photos/egyp01l.jpg" target="_blank"><img src="images/photos/egyp01m.jpg" width="200" height="150" border="0" alt="Egyptian Room"></a>
  <p class="side">Egyptian Room</p>
  </div>
  <div><a href="images/photos/vic01l.jpg" target="_blank"><img src="images/photos/vic01m.jpg" width="200" height="150" border="0" alt="Victorian Room"></a>
  <p class="side">Victorian Room</p>
  </div>
  <div><a href="images/photos/vic02l.jpg" target="_blank"><img src="images/photos/vic02m.jpg" width="200" height="150" border="0" alt="Victorian Room"></a>
  <p class="side">Victorian Room</p>
  </div>
  <div><a href="images/photos/mass01l.jpg" target="_blank"><img src="images/photos/mass01m.jpg" width="200" height="150" border="0" alt="Massage Table"></a>
  <p class="side">Massage Table</p>
  </div>
  <div><a href="images/photos/fire01l.jpg" target="_blank"><img src="images/photos/fire01m.jpg" width="200" height="150" border="0" alt="Fireplace Room"></a>
  <p class="side">Fireplace Room</p>
  </div>
  <div><a href="images/photos/kitc01l.jpg" target="_blank"><img src="images/photos/kitc01m.jpg" width="200" height="150" border="0" alt="Kitchen"></a>
  <p class="side">Kitchen</p>
  </div>
  <div><a href="images/photos/din01l.jpg" target="_blank"><img src="images/photos/din01m.jpg" width="200" height="150" border="0" alt="Dining Room"></a>
  <p class="side">Dining Room</p>
  </div>
  <div><a href="images/photos/liv01l.jpg" target="_blank"><img src="images/photos/liv01m.jpg" width="200" height="150" border="0" alt="Living Room"></a>
  <p class="side">Living Room</p>
  </div>
  <div><a href="images/photos/liv02l.jpg" target="_blank"><img src="images/photos/liv02m.jpg" width="200" height="150" border="0" alt="Living Room Chair"></a>
  <p class="side">Living Room Chair</p>
  </div>
  <div><a href="images/photos/back01l.jpg" target="_blank"><img src="images/photos/back01m.jpg" width="200" height="150" border="0" alt="Backyard"></a>
  <p class="side">Backyard Deck</p>
  </div>
  <div><a href="images/photos/back02l.jpg" target="_blank"><img src="images/photos/back02m.jpg" width="200" height="150" border="0" alt="Backyard"></a>
  <p class="side">Backyard Deck</p>
  </div>
  <div><a href="images/photos/back04l.jpg" target="_blank"><img src="images/photos/back04m.jpg" width="200" height="150" border="0" alt="Backyard"></a>
  <p class="side">Backyard Deck</p>
  </div>
</div>



