<div class="panel panel-default">
    <h1>
        <!-- #BeginEditable "title" -->Bed &amp; Breakfast and
        Spa Rooms<!-- #EndEditable -->
    </h1>
    <div class="panel-heading"> </div>
    <div class="panel-body">
        <div class="row">

            <div class="col-sm-6">



                <div class="twoColumns">
                    <h2>The Victorian Room</h2>
                    <p>
                        <a href="images/photos/vic02l.jpg" target="_blank"><img src="images/photos/vic02s.jpg" width="66" height="50" border="0" alt="Victorian Room" align="left"></a>The
                        Victorian Room has a Queen Size Orthopedic mattress
                        with pillow top for the best sleep. Your bedroom is
                        decorated with soft pastels, floral duvet and lace
                        curtains to enjoy the view of the garden. There is
                        an ensuite (private bathroom in the room) and a TV with
                        a PVR for your comfort. Air Conditioned.
                    </p>
                    <h2>The Egyptian Room</h2>
                    <p>
                        <a href="images/photos/egyp01l.jpg" target="_blank"><img src="images/photos/egyp01s.jpg" width="66" height="50" align="left" border="0" alt="Egyptian Room"></a>The
                        Egyptian room is a dynamic statement. The focal point
                        of the room is an Egyptian pictograph of the "Myth
                        of Maat". Your bedroom has direct access to the Hot
                        Tub. The Queen Size Orthopedic mattress with pillow
                        top will contribute to a very restful sleep. There
                        is an ensuite (private bathroom in the room), and a TV with
                        a PVR for your comfort. Air Conditioned.
                    </p>
                    <h2>The House</h2>
                    <p>
                        <a href="images/photos/front01l.jpg" target="_blank"><img src="images/photos/front01s.jpg" width="66" height="50" border="0" alt="House" align="left"></a>The
                        entire main floor is dedicated to the BB and Day Spa
                        (Air Conditioned). There are two parlors to enjoy
                        a good book and music. The Fireplace room has leather
                        sofas to enjoy complimentary sherry. The formal parlor
                        has big overstuffed chairs and sofa to curl up with
                        the sun shining through the picture window. All guests
                        have access to the hot tub. As part of your stay a
                        bathrobe, slippers and a fresh towel is provided to
                        each guest.
                    </p>
                    <h2>Free High-Speed Internet</h2>
                    <p>
                        Guests receive free high-speed Internet access by
                        connecting PCs to our wireless network and/or using
                        our guest laptop computer.
                    </p>
                    <!-- #EndEditable --> </td>

                    <!-- #BeginEditable "body2" -->
                    <h2>Day Spa</h2>
                    <p>
                        <a href="images/photos/mass01l.jpg" target="_blank"><img src="images/photos/mass01s.jpg" width="66" height="50" border="0" alt="Massage Table" align="left"></a>Create
                        a more relaxing time by taking advantage of the <a href="Dayspa">
                            Day
                            Spa
                        </a>. For an additional fee you can include massage,
                        and pampering (mud wrap, body polish and herbal wrap).
                    </p>
                    <p>
                        Your massage therapist will listen carefully to what
                        you hope to get out of your massage. She will give
                        you the chance to tell her how much pressure you prefer,
                        areas you may want to focus on, or any injuries/tight
                        spots you may have. Also the comfort and modesty of
                        each person is of utmost importance. You will be covered
                        with a sheet throughout the whole session and only
                        the body part receiving treatment will be uncovered.
                    </p>
                    <h2>Kitchen and Barbecue</h2>
                    <p>
                        <a href="images/photos/kitc01l.jpg" target="_blank"><img src="images/photos/kitc01s.jpg" width="66" height="50" align="left" border="0" alt="Kitchen"></a>Our
                        kitchen and backyard barbecue are available free of
                        charge for all bed and breakfast guests. At An English
                        Bed &amp; Breakfast, you can cook your own food instead
                        of eating at restaurants for every meal. You are also
                        welcome to keep your food and beverages in the refrigerator.
                    </p>
                    <h2>Hot Tub and Decks</h2>
                    <p>
                        <a href="images/photos/back04l.jpg" target="_blank"><img src="images/photos/back04s.jpg" width="66" height="50" border="0" alt="Backyard Deck" align="left"></a>Along
                        with the hot tub there are two decks, one open to
                        Alberta's sunny skies and the other is covered. In
                        the back garden there is a fire pit to roast your
                        favorite food and enjoy the peaceful surroundings.
                    </p>
                </div class="twoColumns">

                <!-- #EndEditable -->

            </div>

            <div class="col-sm-6">


                <table width="240" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td><!-- #BeginEditable "photo_med" --><a href="images/photos/egyp01l.jpg" target="_blank"><img src="images/photos/egyp01m.jpg" width="240" height="175" border="0" alt="Egyptian Room"></a><!-- #EndEditable --></td>
                    </tr>

                </table>
                <!-- #BeginEditable "photos_small" -->
                <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr align="center" valign="top">
                        <td width="33%"><a href="images/photos/vic01l.jpg" target="_blank"><img src="images/photos/vic01s.jpg" width="66" height="50" border="0" alt="Victorian Room"></a></td>
                        <td width="34%"><a href="images/photos/kitc01l.jpg" target="_blank"><img src="images/photos/kitc01s.jpg" width="66" height="50" border="0" alt="Kitchen"></a></td>
                        <td width="33%"><a href="images/photos/fire01l.jpg" target="_blank"><img src="images/photos/fire01s.jpg" width="66" height="50" border="0" alt="Fireplace Room"></a></td>
                    </tr>
                </table>
                <!-- #EndEditable -->

            </div>


        </div>

    </div>


</div>






