<div class="panel panel-default">
    <h1><!-- #BeginEditable "title" -->Sample Breakfast Menus<!-- #EndEditable --></h1>
    <div class="panel-heading"> </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">


                <div class="twoColumns">
                    <p>
                        A full breakfast is served between 7:00 a.m. and
                        8:30 a.m.; please let us know of any dietary restrictions
                        that you may have at the time of booking. Breakfast
                        to go is available upon request with advance notice.
                    </p>
                    <h2>Sample Menus</h2>
                    <p>
                        Pineapple Muffins, Coconut French Toast with Macadamia
                        Nut Butter & Grilled Bacon
                    </p>
                    <p>
                        Cranberry Muffins, Eggs Benedict with Smoked Turkey
                        Breast covered with Strawberry Hollandaise & Oven
                        Roasted Potatoes
                    </p>
                    <p>
                        Savoury Biscuits, Cheese Blintz with Blueberry Compote
                        & Spolumbo's Breakfast Sausage
                    </p>
                    <p>
                        Blueberry Bran Muffin, Eggs cooked your way, Bacon
                        or Sausage & Hashbrowns
                    </p>
                    <h2>Breakfast on the Go</h2>
                    <p>
                        Breakfast on the GO when you need breakfast before
                        7:00 a.m. or after 8:30 a.m.
                    </p>
                    <p>
                        PACKAGED TO GO WITH YOUR CHOICE OF HOT BEVERAGE &
                        JUICE
                    </p>
                    <p>
                        Blueberry Streusel cake & Smoothie - Orange Juice,
                        Strawberries, Banana and Yogurt (Added boost with
                        Protein Powder or Tofu)
                    </p>
                    <p>
                        English Muffin with Canadian Bacon and Cheddar Cheese
                        & Fresh Fruit
                    </p>


                    <p>
                        Each morning at the bed &amp; breakfast is accompanied
                        by the fresh aroma of a gourmet breakfast. Teri creates
                        a memorable culinary experience. Please let us know
                        of any dietary restrictions when you book.
                    </p>
                    <h2>Dairy free/Fat Free Breakfast </h2>
                    <p>
                        Waffles (made with egg replacer) with Apple butter
                        and Fresh Berries
                    </p>
                    <h2>Gluten free Breakfast- Celiac Menu</h2>
                    <p>
                        Cranberry & Orange muffins made with gluten free
                        flour, Crustless Spinach Quiche, Roasted Potatoes
                        & Apple Chicken Sausage
                    </p>
                    <p>
                        Apple Muffins made with gluten free flour, Bean flour
                        Crepes stuffed with Seafood
                    </p>
                    <h2>Vegetarian Breakfast</h2>
                    <p>
                        Carrot Pineapple Muffin, Breakfast Burrito stuffed
                        with fresh Veggies and Cheddar Cheese served with
                        Salsa & Home Fried Potatoes
                    </p>
                    <p>
                        Cashew French Toast with Pure Maple Syrup & Poached
                        Pears
                    </p>
                    <p>
                        Samosa, Orange Lassi (milkshake drink of India),
                        Bombay style Curried Eggs & Brown Rice Pilaf
                    </p>
                </div class="twoColumns">

                <!-- #EndEditable -->

            </div>
            <div class="col-sm-6">


                <table width="240" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td><!-- #BeginEditable "photo_med" --><a href="images/photos/kitc01l.jpg" target="_blank"><img src="images/photos/kitc01m.jpg" width="240" height="175" alt="Kitchen" border="0"></a><!-- #EndEditable --></td>
                    </tr>

                </table>
                <!-- #BeginEditable "photos_small" -->
                <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr align="center" valign="top">
                        <td width="33%"><a href="images/photos/back01l.jpg" target="_blank"><img src="images/photos/back01s.jpg" width="66" height="50" border="0" alt="Backyard"></a></td>
                        <td width="34%"><a href="images/photos/din01l.jpg" target="_blank"><img src="images/photos/din01s.jpg" width="66" height="50" border="0" alt="Dining Room"></a></td>
                        <td width="33%"><a href="images/photos/fire01l.jpg" target="_blank"><img src="images/photos/fire01s.jpg" width="66" height="50" border="0" alt="Fireplace Room"></a></td>
                    </tr>
                </table>
                <!-- #EndEditable -->

            </div>
        </div>

    </div>
</div>
