<div class="panel panel-default">
    <h1> Certificates of Excellence</h1>
    <div class="panel-heading"> </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">

                <div id="owl-example2">
                    <div>
                        <a href="https://www.tripadvisor.co.uk/Hotel_Review-g154913-d1163861-Reviews-English_Bed_Breakfast_and_Day_Spa-Calgary_Alberta.html" target="_blank"><img src="images/tripadvisor/ta2011.gif" width="175" height="200" border="0" alt="Certificate of Excellence - 2011"></a>
                        <p class="side">2011 CoE</p>
                    </div>
                    <div>
                        <a href="https://www.tripadvisor.co.uk/Hotel_Review-g154913-d1163861-Reviews-English_Bed_Breakfast_and_Day_Spa-Calgary_Alberta.html" target="_blank"><img src="images/tripadvisor/ta2012.gif" width="175" height="200" border="0" alt="Certificate of Excellence - 2012"></a>
                        <p class="side">2012 CoE</p>
                    </div>
                    <!--<div>
                        <a href="http://www.tripadvisor.com/Hotel_Review-g154913-d1163861-Reviews-English_Bed_Breakfast_and_Day_Spa-Calgary_Alberta.html" target="_blank"><img src="images/tripadvisor/taBravo171Excel.gif" width="175" height="200" border="0" alt="Bravo"></a>
                        <p class="side">Bravo</p>
                    </div>-->
                    <div>
                        <a href="https://www.tripadvisor.co.uk/Hotel_Review-g154913-d1163861-Reviews-English_Bed_Breakfast_and_Day_Spa-Calgary_Alberta.html" target="_blank"><img src="images/tripadvisor/ta2013.gif" width="175" height="200" border="0" alt="Certificate of Excellence - 2013"></a>
                        <p class="side">2013 CoE</p>
                    </div>
                    <div>
                        <a href="https://www.tripadvisor.co.uk/Hotel_Review-g154913-d1163861-Reviews-English_Bed_Breakfast_and_Day_Spa-Calgary_Alberta.html" target="_blank"><img src="images/tripadvisor/ta2014.gif" width="175" height="200" border="0" alt="Certificate of Excellence - 2014"></a>
                        <p class="side">2014 CoE</p>
                    </div>
                    <div>
                        <a href="https://www.tripadvisor.co.uk/Hotel_Review-g154913-d1163861-Reviews-English_Bed_Breakfast_and_Day_Spa-Calgary_Alberta.html" target="_blank"><img src="images/tripadvisor/ta2015.gif" width="175" height="200" border="0" alt="Certificate of Excellence - 2015"></a>
                        <p class="side">2015 CoE</p>
                    </div>
                    <div>
                        <a href="https://www.tripadvisor.co.uk/Hotel_Review-g154913-d1163861-Reviews-English_Bed_Breakfast_and_Day_Spa-Calgary_Alberta.html" target="_blank"><img src="images/tripadvisor/ta2016.gif" width="175" height="200" border="0" alt="Certificate of Excellence - 2016"></a>
                        <p class="side">2016 CoE</p>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-md-12" align="center">
                    <div id="TA_excellent20" class="TA_excellent"><ul id="mM7casV4n" class="TA_links derwLx"><li id="jKOVyds8l" class="2deHxKVd"><a target="_blank" href="https://www.tripadvisor.co.uk/"><img src="https://static.tacdn.com/img2/widget/tripadvisor_logo_115x18.gif" alt="TripAdvisor" class="widEXCIMG" id="CDSWIDEXCLOGO" /></a></li></ul></div>
                    <script src="https://www.jscache.com/wejs?wtype=excellent&uniq=20&locationId=1163861&lang=en_UK&display_version=2"></script>




                    
                </div>


            </div>

        </div>

    </div>
</div>

